:root {
        --ic-brand-primary-darkened-5: #0C223D;
--ic-brand-primary-darkened-10: #0B203A;
--ic-brand-primary-darkened-15: #0B1E37;
--ic-brand-primary-lightened-5: #182E49;
--ic-brand-primary-lightened-10: #243953;
--ic-brand-primary-lightened-15: #30445C;
--ic-brand-button--primary-bgd-darkened-5: #0C223D;
--ic-brand-button--primary-bgd-darkened-15: #0B1E37;
--ic-brand-button--secondary-bgd-darkened-5: #C9400D;
--ic-brand-button--secondary-bgd-darkened-15: #B4390C;
--ic-brand-font-color-dark-lightened-15: #606060;
--ic-brand-font-color-dark-lightened-30: #7C7C7C;
--ic-link-color-darkened-10: #BE3D0C;
--ic-link-color-lightened-10: #D75525;
--ic-brand-primary: #0C2340;
--ic-brand-font-color-dark: #444444;
--ic-link-color: #D3430D;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #D3430D;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #0C2340;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #0c2340;
--ic-brand-global-nav-avatar-border: #F15A22;
--ic-brand-global-nav-menu-item__badge-bgd: #D3430D;
--ic-brand-global-nav-menu-item__badge-text: #FFFFFF;
--ic-brand-global-nav-logo-bgd: #0c2340;
--ic-brand-header-image: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/903477/utsa.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/903481/utsa.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/903479/utsa-white.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/903480/utsa-navy.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/903478/utsa.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/903482/utsa-wide.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/903483/utsa-color.png');
--ic-brand-Login-body-bgd-color: #d3430d;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #d3430d;
--ic-brand-Login-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/903503/utsa-navy.png');
--ic-brand-Login-Content-bgd-color: #0c2340;
--ic-brand-Login-Content-border-color: #0c2340;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #dddddd;
--ic-brand-Login-footer-link-color: #dddddd;
--ic-brand-Login-footer-link-color-hover: #cccccc;
--ic-brand-Login-instructure-logo: #cccccc;
      }